<ion-header class="ion-no-border">

  <ion-toolbar color="unimed-primary">
    <ion-buttons slot="start">
      <ion-button (click)="toBack()" fill="clear">
        <ion-icon *ngIf="iconsdefault" slot="icon-only" class="iconsize" name="chevron-back" color="light"></ion-icon>
        <fa-icon *ngIf="!iconsdefault" [icon]="['fas', 'angle-left']" size="1x" color="light"></fa-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-uppercase" (click)="iconsdefault = !iconsdefault">
      {{title}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toBack()" fill="clear">
        <ion-icon *ngIf="iconsdefault" slot="icon-only" class="iconsize" name="menu" color="light"></ion-icon>
        <fa-icon *ngIf="!iconsdefault" [icon]="['fas', 'bars']" class="iconsize" color="warning"></fa-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-segment mode="md" (ionChange)="segmentChanged($event.detail)" [value]="segmentselected">
    <ion-segment-button value="birthdays">
      <ion-label>Aniversários</ion-label>
    </ion-segment-button>
    <ion-segment-button value="unimed">
      <ion-label>Unimed</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content class="">
  <h1 class="h1custom">
    Veja os cooperados que comemoram aniversário. Selecione <br> uma data ou pesquise pelo nome. </h1>


  <ion-card class="carddate">
    <ion-item lines="none">
      <ion-icon  *ngIf="iconsdefault" color="unimed-primary" name="calendar" slot="start"></ion-icon>
      <fa-icon *ngIf="!iconsdefault" [icon]="['fas', 'calendar']" size="1x"  slot="start" color="light"></fa-icon>

      <ion-datetime  displayTimezone="" [monthNames]='monthNames' value="JANEIRO - 2021" display-format="MMMM - YYYY">
      </ion-datetime>
      <ion-icon  *ngIf="iconsdefault" color="unimed-primary" slot="end" name="add"></ion-icon>
      <fa-icon *ngIf="!iconsdefault" [icon]="['fas', 'caret-right']" slot="end" size="1x" color="light"></fa-icon>

    </ion-item>
  </ion-card>

  <ion-card class="ion-margin-vertical cardinput">
    <ion-input type="text" inputmode="search" placeholder="Nome do aniversariante"></ion-input>
  </ion-card>

  <ion-card class="cardbirthdays">
    <ion-card-header> 
      <ion-item lines="full">
        <ion-label class="ion-text-uppercase title"><strong>Aniversariantes do dia</strong></ion-label>
        <div slot="end" class="dateselected">
          <span class="day">30</span>
          <div class="month">jan</div>
        </div>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none" *ngFor="let user of [].constructor(4)">
        <ion-label>Awesome Label</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>