@import "./../../../theme/customshadows.scss";

ion-header{

    ion-toolbar{
        --min-height: 60px;
        ion-title{
            font-size: 16px 
         }
        }
        
        ion-segment {
                --background: var(--ion-color-unimed-secondary);
            ion-segment-button{ 
                --indicator-height: 48px;
                --background-checked:  var(--ion-color-ligth);
                --indicator-color:  var(--ion-color-unimed-secondary);
                --color-checked: #ffffff;
                --color: #00bb6c;
                ion-label{
                    font-size: 11px;
                }
            }
            ion-segment-button::part(indicator){
                height: 2px;   
            }
            ion-segment-button::part( indicator-background){
                background: var(--ion-color-unimed-active);
            }
        }
}

ion-content{
    .h1custom{
        font-size: 13px;
        color: #5b5c65;
    }

    ion-card{  
        min-height: 55px; 
        background: #fff;
        border-radius: 6px;
     ion-item{
         --background: trasparent;
     }
        &.carddate{
                ion-item{
                    margin: 4px 0 auto;
                }
            @include BoxShadow(2);
            ion-icon {
                color:  #00995D;
            }
                .iondatetimecustom{
                    color:  #00995D;
                }
        }
        &.cardinput{
            box-shadow: none;
            border: solid #cfd3d6  1px;
            
            
            ion-input{
                margin: 8px 0 auto;
                --color: #5b5c85;
                --placeholder-font-style: bold; 
            }
        } 
        &.cardbirthdays{
            @include BoxShadow(2);

            .title{
                color: #5b5c65;
                font-size: 14px;
            }
            .dateselected{
                display: block;
                position: relative;
                right: -5%;
                top: -5px;
                .day{
                    font-size: 22px;
                    font-weight: 400;
                    color: #5b5c65;
                }
                .month{
                    font-size: 12px;
                    position: relative;
                    right: -5px;
                    color: #00995d;
                }
            }
            ion-card-content {
               ion-list{
                ion-item{
                    height: 32px !important;
                }
               }
            }
           
        }
    }
}